
.inner-button {
  height: 30px;
  transition: 0.3s;
  border: none;
  border-radius: 2px;
}
.edit-button {
  transition: background-color 0.2s ease-in;
}
.edit-button:hover {
  background-color: cornflowerblue;
  border-radius: 2px;
}
.delete-button {
  background-color: rgba(169, 8, 8, 0.36);

  transition: background-color 0.2s ease-in;
}
.delete-button:hover {
  background-color: #740000;
}