.status-bar {
  display: flex;
  max-width: 310px;
  margin-bottom: 30px;
}

.status-button {
  background-color: transparent;
  border: none;
  transition-duration: 0.3s;
}

.status-button:hover {
  color: gray;
  cursor: pointer;
}

.isActive {
  border: 2px solid rgba(23, 22, 22, 0.89);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.47);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.21);
}