
.task-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  display: block;
  padding-left: 0;
}

.todo-item{
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-radius: 10px;
  padding-inline: 5px;
  margin-block: 5px;
  background-color: #323232;
  gap: 5px;
}

.container-btn {
  display: flex;
  gap: 3px;
  max-width: 300px;
}
.container-todo {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}


.add-button {
  padding: 7px 7px;
  border: none;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.add-button:hover {
  background-color: cornflowerblue;
}

.add-input {
  min-width: 200px;
  padding: 5px 5px;
}

.add-form {
  display: flex;
}




